.wcWebSock{
	display: inline-block;
}
.wcOn{
	
	background-color: green;
}
.wcPing.wcOn{
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 50%;	
	background-color: green;
}
.wcPing.wcOff{
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 50%;	
	background-color: red;
}
.wcStatus{
	display: inline-block;
}
.wcUserList{

	vertical-align: top;
	display: inline-block;
	padding-left: 50px;
}
.wcHistory{
	overflow-y: auto;
	overflow-x: hidden;
	width: 440px;
	height: 200px;
	background-color: lightgrey; 
}